@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  background-color: #333;
  color: #fff;
  font-family: "Roboto", Arial;
  padding: 10em;
}

.flex-grid-center {
  display: flex;
  justify-content: center;
  margin: 5em 0;
}

.fuller-button {
  color: white;
  background: none;
  border-radius: 0;
  padding: 1.2em 5em;
  letter-spacing: 0.35em;
  font-size: 0.7em;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  margin: 1em;
}
.fuller-button.blue {
  box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5);
  border: #0dd solid 2px;
}
.fuller-button.blue:hover {
  background-color: #0dd;
  box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5), 0 0 1.5em rgba(0, 170, 170, 0.7);
}
.fuller-button.red {
  box-shadow: inset 0 0 1em rgba(251, 81, 81, 0.4), 0 0 1em rgba(251, 81, 81, 0.4);
  border: #fb5454 solid 2px;
}
.fuller-button.red:hover {
  background-color: #fb5454;
  box-shadow: inset 0 0 0 rgba(251, 81, 81, 0.4), 0 0 1.5em rgba(251, 81, 81, 0.6);
}
.fuller-button.white {
  box-shadow: inset 0 0 0.8em rgba(255, 255, 255, 0.3), 0 0 0.8em rgba(255, 255, 255, 0.3);
  border: #fff solid 2px;
}
.fuller-button.white:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: #fff;
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3), 0 0 1.2em rgba(255, 255, 255, 0.5);
}

.pure-control-group {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 1em 2.6em 1em;
}

.pure-form .pure-control-group label {
  text-align: left;
  position: absolute;
  left: 0;
  top: 15%;
  z-index: 0;
  letter-spacing: 0;
  margin: 0 1em;
}

.pure-form .pure-control-group input {
  background: none;
  box-shadow: none;
  padding-left: 0;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  position: relative;
  z-index: 1;
  color: #fff;
}

.pure-form .pure-control-group input:focus {
  border-bottom: 2px solid white;
}

.pure-form .pure-control-group textarea {
  background: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  border-left: 2px solid rgba(255, 255, 255, 0.4);
  resize: none;
  height: 8em;
  color: #fff;
}

.pure-form .pure-control-group textarea:focus {
  border-left: 2px solid white;
}

.pure-form .pure-control-group input[type=email]:focus:invalid {
  color: #fff;
}

.pure-form .pure-control-group input[type=email]:invalid {
  color: #fb5454;
}

.pure-form button {
  margin: 0.5em 1em;
}




.buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  text-align: center;
}
@media (min-width: 600px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
}





.btn {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
@media (min-width: 600px) {
  .btn {
    margin: 0 1em 2em;
  }
}
.btn:hover {
  text-decoration: none;
}

.btn-1 {
  font-weight: 100;
}
.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-1 rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}

.btn-1:hover {
  background: rgba(225, 51, 45, 0);
  font-weight: 900;
  letter-spacing: 1px;
}
.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}


/* gradient button css*/
a {
    text-decoration:none;
    color:#FFF;
  }
  .rainbow-button {
    width:calc(20vw + 6px);
    height:calc(8vw + 6px);
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    border-radius:5px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-transform:uppercase;
    font-size:3vw;
    font-weight:bold;
  }
  .rainbow-button:after {
    content:attr(alt);
    width:20vw;
    height:8vw;
    background-color:#191919;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .rainbow-button:hover {
    animation:slidebg 2s linear infinite;
  }
  
  @keyframes slidebg {
    to {
      background-position:20vw;
    }
  }


  /* HOVER ME1 button css */
  
  .btn0 {
    border: 5px solid #2c3e50;
    padding-left: 1em;
    color: #2c3e50;
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    font-family: 'trebuchet ms';
  }
  
  .btn0::before {
    content: "";
    background-color: #E26A6A;
    box-shadow: 10px 10px 0 #F1C40F, 
                20px 20px 0 #3498DB;
    position: absolute;
    left: 0.25rem;
    top: 0.5rem;
    height: 102%;
    width: 102%;
    z-index: -1;
    transition: all 0.4s ease;
  }
  
  .btn0:hover::before {
    box-shadow: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }


/* HOVER ME2 button css */
.gradient-button {
    z-index: 1;
    display: block;
    top: calc(50% - 2.5rem - 5px);
    left: calc(50% - 6rem - 5px);
    height: 5rem;
    width: 12rem;
    margin: auto;
    background: transparent linear-gradient(to top left, rgba(249, 208, 129, 0.2) 0%, rgba(227, 2, 62, 0.2) 40%, rgba(49, 128, 135, 0.2) 100%);
    border: 2px solid transparent;
    border-image-source: linear-gradient(to top left, #f9d081 0%, #e3023e 40%, #318087 100%);
    border-image-slice: 1;
    transition: transform 0.25s;
    letter-spacing: 0.2rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
  }

  .gradient-button:active {
    transform: scale(0.96);
  }
  .gradient-button:active::before {
    opacity: 1;
  }
  .gradient-button::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 3px solid transparent;
    opacity: 0;
    pointer-events: none;
    border-image-slice: 1;
    z-index: 0;
    border-image-source: linear-gradient(to bottom left, #f9d081 20%, #e3023e 40%, #318087 70%);
    transition: opacity 0.5s;
  }
  .gradient-button:hover::after {
    opacity: 1;
  }









/* HOVER ME3 BUTTON CSS */
button,
button::after {
  width: 380px;
  height: 86px;
  font-size: 36px;
  font-family: "Bebas Neue", cursive;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "AVAILABLE NOW";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

  
/* facebook, youtube logo button */
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .glass-btn {
    width: 100px;
    height: 100px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    margin-left: 1em;
    margin-right: 1em;
    cursor: pointer;
    transition: all 0.3s;
  }
  .glass-btn.blue-btn {
    box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);
  }
  .glass-btn.blue-btn:hover {
    box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
  }
  .glass-btn.blue-btn .content {
    font-size: 4em;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, #006fff, #00acff 70%);
    text-shadow: 0px 10px 37px rgba(0, 111, 255, 0.8);
  }
  .glass-btn.red-btn {
    box-shadow: 0px 20px 20px -17px rgba(255, 16, 39, 0.5);
  }
  .glass-btn.red-btn:hover {
    box-shadow: 0px 20px 35px -16px rgba(255, 16, 39, 0.57);
  }
  .glass-btn.red-btn .content {
    font-size: 4em;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, #ff1027, #ff4f06 70%);
    text-shadow: 0px 10px 37px rgba(255, 16, 39, 0.6);
  }
  .glass-btn.amber-btn {
    box-shadow: 0px 20px 20px -17px rgba(255, 159, 16, 0.53);
  }
  .glass-btn.amber-btn:hover {
    box-shadow: 0px 20px 35px -16px rgba(255, 159, 16, 0.6);
  }
  .glass-btn.amber-btn .content {
    font-size: 4em;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, #ff8d00, #f7ad07 70%);
    text-shadow: 0px 10px 37px rgba(255, 94, 16, 0.7);
  }
  .glass-btn:hover {
    background-color: whitesmoke;
    transform: translateY(-5px);
    transition: all 0.3s;
  }